<table>
    <tr>
        <th>Emisor</th>
        <th>Titulo</th>
    </tr>
    <tr *ngFor="let correo of correos; index as i;">
        <td>
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=true> Si
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=false> No
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
    </tr>
   
    <h2>Título de la lectura</h2>
    <div *ngFor="let correo of correos;">
        <h3 *ngIf="correo.leido">Sí</h3>
        <h3 *ngIf="!correo.leido">No</h3>
    </div>
    
</table>