<h1>{{correo.title}}</h1>
<div *ngFor="let emisora of correo.emisoras; index as number">
    <p> La emisora {{emisora}} es la número {{number}} </p>
</div>
<p>{{correo.destinatario}}</p>
<p>{{correo.cuerpo}}</p>
